# IntelliJ/Android Studio
*.iml
.idea/
/local.properties
.idea/caches
.idea/libraries
.idea/modules.xml
.idea/workspace.xml
.idea/navEditor.xml
.idea/assetWizardSettings.xml
.idea/deploymentTargetSelector.xml
.idea/gradle.xml
.idea/misc.xml
.idea/runConfigurations.xml

# Gradle
.gradle/
build/
app/build/
.externalNativeBuild
.cxx
local.properties

# OS
.DS_Store
captures/

# Android
*.apk
*.ap_
*.dex
*.class
bin/
gen/

# Log files
*.log
